.nav-bar {
    height: 8vh;
    width: 100vw;
    background-color: var(--logo-gold-color);
    font-family: var(--main-font);
    letter-spacing: var(--letter-spacing);
    display: flex;
    border-radius: var(--border-radius);
}

.nav-bar a {
    text-decoration: none;
    color: var(--dark-grey-color);
    font-weight: bold;
    font-size: 1.75em;
    transition: color 0.3s ease, transform 0.2s ease;
}

.nav-bar a:hover{
    color: var(--logo-black-color);
    transform: scale(1.1);
}

.navbar-icon {
    height: 7vh;
    width: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.nav-logo-container {
    height: 8vh;
    width: auto;
    display: flex;
    align-items: center;
    flex: 0;
}

.nav-logo-container span {
    align-self: center;
}

.nav-logo-padding-container {
    flex: 3;
    padding: 0em 5em 0em 5em;
}

.other-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 7;
    padding: 0 1rem; /* Add this */
}
