body {
  background-color: #454545;
  color: #B98F44;
  font-family: 'Saira Condensed', sans-serif;
  letter-spacing: 4px;
  border: 1px solid white;
}

.title {
  font-weight: 900;
  font-size: 4em;
  text-align: center;
  border: 1px solid white;
  margin: 0;
  padding: 0;
}

.intro {
  width: 100%;
  border: 1px solid white;
  display: flex;
}

.concept, .slideshow {
  flex: 1;
  border: 1px solid white;
}

.concept {
  display: flex;
  justify-content: space-between;
}

.concept-container {
  width: 30%;
  padding: 1.67%;
  /* height: 500px; adjust as needed */
  display: flex;
  flex-direction: column;
  border: 1px solid white; /* for visualization */
}

.concept-icon-container {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concept-icon {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.concept-text {
  height: 30%; /* adjust as needed */
  text-align: center;
}

.slideshow {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  /* padding: 10% 20%; */
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  top: 5%; /* new */
  left: 5%; /* new */
  width: 90%; /* new */
  height: 90%; /* new */
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}



/* .title h1 {
  border: 1px solid white;
} */
/*

.title {
  color: #B98F44;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 2em;
  text-align: center;
}


.intro {
  display: flex;
  height: 100vh;
}

.concept, .slideshow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10% 0;
}

.concept {
  justify-content: space-between;
}

.concept-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border-right: 1px solid #B98F44;
}

.concept-icon {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concept-text {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concept-text h2 {
  font-size: 1.5em;
  text-align: center;
  color: #B98F44;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
}

.slideshow {
  justify-content: center;
}

.slideshow-image {
  width: 30em;
  height: 20em;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.team-selection {
  display: flex;
}

.team-picker, .selection-summary-and-submit {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.selection-summary-and-submit {
  justify-content: center;
}

.team-picker {
  justify-content: space-between;
  flex-direction: row;
  background-color: #899499;
  border-radius: 10px;
  margin: 40px;
}

.arrow-button {
  height: 25%;
  width: auto;
}

.team-summary {
  display: flex;
  justify-content: space-between;
}

.team-logo, .team-name h1 {
  object-fit: contain;
}

@keyframes grow-shrink {
  0% { transform: scale(.85); }
  50% { transform: scale(1); }
  100% { transform: scale(.85); }
}

.team-logo {
  height: 250px;
  width: auto;
  animation: grow-shrink 4s infinite ease-in-out;
}

.team-name h1 {
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 3vw;
  text-align: center;
  padding-top: 30px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
