/* Loading.css */

@keyframes grow-shrink {
    0% { transform: scale(.75); }
    50% { transform: scale(.85); }
    100% { transform: scale(.75); }
}

@keyframes loading {
    0% { content: "Loading"; }
    25% { content: "Loading."; }
    50% { content: "Loading.."; }
    75% { content: "Loading..."; }
    100% { content: "Loading"; }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}

h3 {
    color: #B98F44;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
}

h3::after {
    content: "";
    animation: loading 4s infinite;
}

body {
    background-color: black;
}

.logo {
    animation: grow-shrink 4s infinite ease-in-out;
}

/* Styles for laptops and larger screens */
@media screen and (min-width: 1024px) {
    .loading h3 {
      font-size: 3em;
    }

    .loading .logo {
      width: 400px;
      height: 400px;
    }
}


/* Styles for phones and tablets in landscape mode */
@media screen and (max-width: 1023px) and (orientation: landscape) {
    .loading h3 {
        font-size: 1.5em;
    }

    .loading .logo {
        width: 250px;
        height: 250px;
    }
}

/* Styles for phones and tablets in portrait mode */
@media screen and (max-width: 1023px) and (orientation: portrait) {
    .loading h3 {
        font-size: 2em;
    }

    .loading .logo {
        width: 200px;
        height: 200px;
    }
}
