/* #708090 */
.SquadList {
    background-color:#708090;
    color: white;
    scroll-behavior: smooth;
}

.squad-w_o-players {
    margin-left: 2em;
}

.squad-w_o-players a {
    color: #D3D3D3;
}

.squad-list-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #454545;
    padding-bottom: 1em;
    border-bottom: 1px solid #D3D3D3; /* Add this line */
}

.header-description {
    width: 50%;
    justify-content: center;
    margin-left: 2em;
    /* Add any additional styling you want for the description here */
}

.nation-cell, .player-profile, .player-position, .player-value, .player-name, .player-kit-number {
    display: flex;
    align-items: center;
    padding: 10px;
}

.nation-cell {
    gap: 10px;
}
.player-position, .player-value, .player-name, .player-kit-number {
    justify-content: center;
}

.squad-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.squad-table-header {
    background-color: #454545;
    color: white;
}

.squad-table-header-cell {
    padding: 10px;
    color: white;
    text-align: left;
}

.squad-table-sort-icon {
    margin-left: 5px;
}

.squad-table-row {
    border-bottom: 1px solid white;
}

.squad-table-row:nth-child(odd) {
    background-color: #D3D3D3;
    color: #454545;
}

.squad-table-row:nth_child(even) {
    background-color: #FFFFFF;
    color: #454545;
}

.squad-table-cell {
    padding: 10px;
    text-align: left;
}

.squad-table-row:hover {
    background-color: #8C8C8C;
    color: white;
}

.table-container {
    width: 100vw;
    overflow-x:auto;
    display: flex;
}

.squad-table {
    width: 100%;
}


.player-profile {
    border-radius: 15px;
    width: 50px;
}

.squad-list-button {
    background-color: #B98F44; /* for example, green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5%;
}
.squad-list-button:hover {
    background-color: #8B6C42;
}
