/* TeamRestart.css */

.team-restart {
    background-color: var(--restart-brown-color);
    width: 100vw;
    min-height:100vh;
    color: var(--restart-beige-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.team-restart-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.team-restart-slideshow-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.restart-warning {
    text-decoration: underline;
}

.restart-button {
    background-color: var(--restart-beige-color);
    color: var(--restart-brown-color);
    border: 2px solid var(--restart-brown-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 1em 2em;
    font-size: 1.2em;
}

.restart-button:hover {
    background-color: var(--restart-brown-color);
    color: var(--restart-beige-color);
    border: 2px solid var(--restart-beige-color);
}

.progress-bar {
    background-color: var(--restart-brown-color);
    border-radius: var(--border-radius);
    border: 2px solid var(--restart-brown-color);
}

.progress-bar-fill {
    height: 100%;
    background-color: var(--restart-beige-color);
}

/* Styles for laptops and larger screens */
@media screen and (min-width: 1024px) {

    .team-restart-container {
        flex-direction: row;
        padding-top: 2rem;
    }

    .team-restart-info {
        width: 50vw;
        padding: 0em 2rem 0em 2rem;
    }

    .restart-title {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 5vh;
    }

    .restart-info-text {
        font-size: 3vh;
        padding: 0rem 1rem 0rem 1rem;
    }

    .team-restart-slideshow-container {
        width: auto;
        width: 50vw;
    }

    .restart-button {
        margin-top: 2em;
    }

    .progress-bar {
        width: 50%;
        height: 20px;
        overflow:hidden;
        margin-top: 1em;
    }

}

/* Styles for phones and tablets in landscape mode */
@media screen and (max-width: 1023px) and (orientation: landscape) {
    .team-restart {
        overflow-y:auto;
    }

    .team-restart-container {
        flex-direction: column;
        align-items: center;
    }

    .team-restart-info {
        width: 100vw;
    }

    .restart-title {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 3.5vw;
    }

    .restart-info-text {
        font-size: 2.5vw;
        padding: 0rem 1rem 0rem 1rem;
    }

    .team-restart-slideshow-container {
        width: 80vw;
        height: 60vh;
        padding: 0vh 0vh;
    }

    .progress-bar {
        width: 50%;
        height: 20px;
    }

    .progress-bar-fill {
        border-radius: var(--border-radius);
    }

    .restart-button {
        margin-top: 1em;
        margin-bottom: 1em;
    }

}

/* Styles for phones and tablets in portrait mode */
@media screen and (max-width: 1023px) and (orientation: portrait) {
    .team-restart {
        overflow-y: auto;
    }

    .team-restart-container {
        flex-direction: column;
        align-items: center;
    }

    .team-restart-info {
        width: 100vw;
    }

    .restart-title {
        padding: 0rem 1rem 0rem 1rem;
        font-size: 5vw;
    }

    .restart-info-text {
        font-size: 3vw;
        padding: 0rem 1rem 0rem 1rem;
    }

    .team-restart-slideshow-container {
        width: 100vw;
        height: 50vh;
        padding: 0vh 0vh;
    }

    .progress-bar {
        width: 50%;
        height: 20px;
    }

    .progress-bar-fill {
        border-radius: var(--border-radius);
    }

    .restart-button {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
