/* TeamRestart.css */

.team-restart {
    background-color: #8B6C42;
    width: 100vw;
    height:100vh;
    color: #FDF5E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-restart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-left: 1rem;
}

.restart-warning {
    text-decoration: underline;
}


.restart-button {
    margin-top: 2em;
    padding: 1em 2em;
    font-size: 1.2em;
    background-color: #FDF5E6;
    color: #8B6C42;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #8B6C42;
    color: #FDF5E6;
    border: 1px solid #FDF5E6;
}

.progress-bar {
    width: 50%;
    height: 20px;
    background-color: #8B6C42;
    border-radius: 10px;
    border: 1px solid #8B6C42;
    overflow: hidden;
    margin-top: 1em;
}

.progress-bar-fill {
    height: 100%;
    background-color: #FDF5E6;
}

/* Styles for laptops and larger screens */
@media screen and (min-width: 1024px) {
    body {
        background-color: white;
    }

    .team-restart-container {
        flex-direction: row;
    }

    .team-restart-info {
        width: 50%;
        padding: 1em 0em 1em 0em;
        padding-left: 1rem;
    }

    .slideshow-container {
        width: 50%;
        height: 60vh;
    }

    .restart-title {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .restart-info-text {
        font-size: 1.5em;
        line-height: 1.5em;
    }

}

/* Styles for phones and tablets in landscape mode */
@media screen and (max-width: 1023px) and (orientation: landscape) {
    body {
        background-color: black;
    }

    .team-restart-container {
        flex-direction: column;
    }

    .team-restart-info {
        width: 100%;
        padding: 1em 0em 1em 0em;
        padding-left: 1rem;
    }

    .restart-title {
        font-size: 2em;
    }

    .restart-info-text {
        font-size: 1.5em;
    }


    .slideshow-container {
        width: 100%;
        height: 20vh;
    }
}

/* Styles for phones and tablets in portrait mode */
@media screen and (max-width: 1023px) and (orientation: portrait) {
    body {
        background-color: darkslategrey;
    }

    .team-restart-container {
        flex-direction: column;
    }

    .team-restart-info {
        width: 100%;
        padding: 1em 0em 1em 0em;
        padding-left: 1rem;
    }

    .restart-title {
        font-size: 2em;
    }

    .restart-info-text {
        font-size: 1.5em;
    }


    .slideshow-container {
        width: 100vw;
        height: 20vh;
    }

}
