/* HomePage.css */

:root {
    --background-color: #454545;
    --gold-color: #B98F44;
    --main-font: 'Saira Condensed', sans-serif;
    --border-radius: 10px;
}

body {
    background-color: var(--background-color);
    color: var(--gold-color);
    font-family: var(--main-font);
    letter-spacing: 4px;
}

/* TITLE */

.title {
    font-weight: 900;
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* CONTENT BASE FLEX SETTINGS */

.home-page-content,
.intro-and-selection,
.concept,
.concept-container,
.concept-icon-container,
.team-selector,
.team-selection-background,
.team-picker,
.logo-container,
.team-name,
.selected-team-information,
.slideshow,
.team-summary,
.team-value,
.team-budget,
.submit-button
{
    display: flex;
    flex: 1;
}

.intro-and-selection,
.concept-container,
.concept-icon-container,
.team-selector,
.selected-team-information,
.team-value,
.team-budget,
.submit-button,
.team-selection-background
{
    flex-direction: column;
}

.home-page-content,
.concept,
.team-picker,
.logo-container,
.team-name,
.team-summary,
.slideshow
{
    flex-direction: row;
}

/* CONCEPT STYLES */

.concept {
    padding: 1em 2em;
}

.concept-container {
    width: 25.32%;
    padding: 1.67% 3.34%;
    box-sizing: border-box;
}

.concept-container:first-child {
    border-right: 1px solid var(--gold-color);
}

.concept-container:last-child {
    border-left: 1px solid var(--gold-color);
}

.concept-icon-container {
    padding: 2% 10%;
    justify-content: center;
}

.concept-icon {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.concept-text {
    height: 30%;
    text-align: center;
}

/* TEAM SELECTOR */

.team-selection-padding {
    padding: 3em 2em 0 2em;
}

.team-selection-background {
    background-color: #899499;
    align-items: center;
    border-radius: var(--border-radius);
}

.team-picker {
    align-items: center;
    justify-content: space-between;
}

.arrow-button {
    height: 25%;
    width: auto;
}

.team-logo, .team-name h1 {
    object-fit: contain;
}

.logo-container {
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

@keyframes grow-shrink {
    0% { transform: scale(.75); }
    50% { transform: scale(.95); }
    100% { transform: scale(.75); }
}

.team-logo {
    height: 100%;
    width: auto;
    animation: grow-shrink 4s infinite ease-in-out;
}

/* SLIDESHOW */

.slideshow {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.slideshow-image {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
}

/* TEAM SUMMARY */

.team-summary {
    justify-content: space-between;
    padding: 2em 10em 2em 10em;
}

.team-value, .team-budget {
    align-items: center;
    width: 45%;
    padding: 0em 4em;
}

.category, .money, .unit {
    width: 100%;
    text-align: center;
}

.money {
    font-size: 3.5em;
    font-weight: bold;
}

.category, .unit {
    font-size: 1.5em;
}

.category {
    border-bottom: 1px solid currentColor;
}

/* SUBMIT BUTTON */

.submit-button {
    align-items: center;
}
