/*
    Loading-phone.css
        Styles for phones and tablets in portrait mode
*/

@media screen and (max-width: 1023px) and (orientation: portrait) {
    /* LOADING SCREEN ICON */
    .loading .logo {
        width: 200px;
        height: 200px;
    }

    /* LOADING SCREEN HEADING */
    .loading h3 {
        font-size: 2em;
    }
}
