/*
    Loading-laptop.css
        Styles for laptops and larger screens
*/

@media screen and (min-width: 1024px) {
    /* LOADING SCREEN ICON */
    .loading .logo  {
        width: 400px;
        height: 400px;
    }

    /* LOADING SCREEN HEADING */

    .loading h3 {
      font-size: 3em;
    }
}
